name: Build
on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  build-cinny:
    uses: ./.github/workflows/build-cinny.yml
  build-ubunut:
    runs-on: ubuntu-latest
    needs: [build-cinny]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download Cinny
        uses: actions/download-artifact@v3
        with:
          name: cinny-build
          path: ./.cinny
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Install dependencies
        run: |
          pnpm i
          sudo apt install -y flatpak flatpak-builder elfutils
      - name: Build project
        run: pnpm build
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          path: out
          name: build-ubunut
  build-wombat:
    runs-on: windows-latest
    needs: [build-cinny]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download Cinny
        uses: actions/download-artifact@v3
        with:
          name: cinny-build
          path: ./.cinny
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Install dependencies
        run: pnpm i
      - name: Build project
        run: pnpm build
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          path: out
          name: build-binbows
  # build-marcos:
  #   runs-on: macos-latest
  #   needs: [build-cinny]
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Download Cinny
  #       uses: actions/download-artifact@v3
  #       with:
  #         name: cinny-build
  #         path: ./.cinny
  #     - name: Install pnpm
  #       uses: pnpm/action-setup@v2
  #       with:
  #         version: latest
  #     - name: Install dependencies
  #       run: pnpm i
  #     - name: Build project
  #       run: pnpm build
  #     - name: Upload
  #       uses: actions/upload-artifact@v3
  #       with:
  #         path: out
  #         name: build-sackos
